<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles de la Camiseta</title>
</head>
<body>
    <h1>Detalles de la Camiseta</h1>
    <ul>
        <li><strong>ID:</strong> {{ camiseta.id }}</li>
        <li><strong>Marca:</strong> {{ camiseta.marca }}</li>
        <li><strong>Color:</strong> {{ camiseta.color }}</li>
        <li><strong>Talla:</strong> {{ camiseta.talla }}</li>
        <li><strong>Material:</strong> {{ camiseta.material }}</li>
        <li><strong>Precio:</strong> {{ camiseta.precio }}</li>
    </ul>
    <a href="{{ url_for('get_all_camisetas') }}">Volver a la lista de camisetas</a>
</body>
</html>