<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Detalle de medico</h1>
    <u1>
        <li> Nombre: {{ med.nombre }}</li>
        <li> Apellido: {{ med.apellido }}</li>
        <li> Especialidad: {{ med.especialidad }}</li>
        <li> tipo_identificacion: {{ med.tipo_identificacion }}</li>
        <li> numero_identificacion: {{ med.numero_identificacion }}</li>
        <li> registro_medico: {{ med.registro_medico }}</li>
    </u1>
</body>
</html>