<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UFT-8">
    <meta name="viewport" content="width=device-widht, initial-scale=1.0">
    <title>Lista de Medicos</title>
</head>
</body>
    <h1>Lista de Medicos </h1>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>especialidad</th>
                <th>tipo de identificacion</th>
                <th>numero de identificacion</th>
                <th>registro medico</th>
                <th>ver detalles</th>
            
            </tr>
        </thead>
        <tbody>
            {% for medico in medicos%}
                <tr>
                    <td> {{ medico.nombre }} </td>
                    <td> {{ medico.apellidos }} </td>
                    <td> {{ medico.especialidad }} </td>
                    <td> {{ medico.tipo_identificacion }} </td>
                    <td> {{ medico.numero_identificacion }} </td>
                    <td> {{ medico.registro_medico }} </td>
                    <td>
                        <a href="/medicos/{{  medico.id  }}">
                            Ver detalles
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot></tfoot>

    </table>
</body>
</html>